* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header nav.active {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  height: 30vh;
  list-style: none;
}

header nav ul li {
  text-align: center;
  -ms-flex-preferred-size: 100vw;
      flex-basis: 100vw;
}

header nav ul li a {
  padding: 4px 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #707070;
}

header section.top-bar {
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100vw;
  padding: 0 15px;
  background-color: #fff;
  z-index: 1;
}

header section.top-bar div.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid #969696;
  border-radius: 50%;
}

header section.top-bar div.hamburger span {
  display: block;
  height: 2px;
  width: 20px;
  background-color: #969696;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

header section.top-bar div.hamburger span::before {
  content: '';
  display: block;
  height: 2px;
  background-color: #969696;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

header section.top-bar div.hamburger span::after {
  content: '';
  display: block;
  height: 2px;
  background-color: #969696;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

header section.top-bar .hamburger.on span {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

header section.top-bar .hamburger.on span::before {
  display: none;
}

header section.top-bar .hamburger.on span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header div.hero {
  margin-top: 70px;
}

header h1 {
  position: relative;
  left: 0;
  top: 0;
  padding: 0 20px;
  margin: 20px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 3.4rem;
  letter-spacing: 1px;
  color: #3FA9F5;
}

header h1:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: -40px;
  width: 70vw;
  height: 30px;
  background-color: #fff;
}

@media (min-width: 1024px) and (orientation: landscape) {
  header section.top-bar {
    display: none;
  }
  header nav {
    left: 0;
    width: 20vw;
    -webkit-transition: none;
    transition: none;
  }
  header div.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 20vw;
  }
  header div.hero img {
    width: 78vw;
  }
  header h1 {
    margin-left: 20vw;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  height: 160vh;
}

main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-preferred-size: 75vw;
      flex-basis: 75vw;
}

main div h2 {
  margin-bottom: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.2rem;
}

main div p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  line-height: 150%;
  color: #707070;
}

@media (min-width: 1024px) and (orientation: landscape) {
  main {
    margin-left: 20vw;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main div {
    -ms-flex-preferred-size: 30vw;
        flex-basis: 30vw;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  height: 155vh;
  padding: 0 15px;
  background-color: #000;
}

footer h3,
footer h4 {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

footer div {
  width: 100vw;
}

footer h3 {
  margin: 25px 0;
  font-size: 3.2rem;
}

footer h5 {
  margin-bottom: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #919191;
  text-transform: uppercase;
}

footer h4 {
  font-size: 1.6rem;
  font-weight: 300;
}

footer .office h4:nth-child(4),
footer .phone h4:nth-child(3) {
  margin-bottom: 8px;
}

footer h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  color: #707070;
}

@media (min-width: 1024px) and (orientation: landscape) {
  footer {
    margin-left: 20vw;
  }
}
