header {

    nav.mobile.active {
        transform: translateX(100%);
    }

    nav.mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100vw;
        background-color: #fff;
        z-index: 1;
        transition: .3s ease-out;

        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: space-around;
            height: 30vh;
            list-style: none;

            li {
                text-align: center;
                flex-basis: 100vw;

                a {
                    padding: 4px 0;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 16px;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #707070;
                }
            }
        }
    }

    section.top-bar {
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        width: 100vw;
        padding: 0 15px;
        background-color: #fff;
        z-index: 1;

        div.hamburger {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border: 1px solid #969696;
            border-radius: 50%;

            span {
                display: block;
                height: 2px;
                width: 20px;
                background-color: #969696;
                transition: transform .3s ease-out;
            }

            span::before {
                content: '';
                display: block;
                height: 2px;
                background-color: #969696;
                transform: translateY(-5px);
            }


            span::after {
                content: '';
                display: block;
                height: 2px;
                background-color: #969696;
                transform: translateY(3px);
            }
        }


        .hamburger.on span {
            transform: rotate(135deg);
        }

        .hamburger.on span::before {
            display: none;
        }

        .hamburger.on span::after {
            transform: rotate(90deg);
        }
    }

    div.hero {
        height: 180px;
        margin-top: 70px;
        background-image: url(../images/hero-xs.png);
        background-repeat: no-repeat;
    }
}