header {
    nav.active {
        transform: translateX(100%);
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100vw;
        background-color: #fff;
        z-index: 1;
        transition: .3s ease-out;

        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: space-around;
            height: 30vh;
            list-style: none;

            li {
                text-align: center;
                flex-basis: 100vw;

                a {
                    padding: 4px 0;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #707070;
                }
            }
        }
    }

    section.top-bar {
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        width: 100vw;
        padding: 0 15px;
        background-color: #fff;
        z-index: 1;

        div.hamburger {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border: 1px solid #969696;
            border-radius: 50%;

            span {
                display: block;
                height: 2px;
                width: 20px;
                background-color: #969696;
                transition: transform .3s ease-out;
            }

            span::before {
                content: '';
                display: block;
                height: 2px;
                background-color: #969696;
                transform: translateY(-5px);
            }


            span::after {
                content: '';
                display: block;
                height: 2px;
                background-color: #969696;
                transform: translateY(3px);
            }
        }


        .hamburger.on span {
            transform: rotate(135deg);
        }

        .hamburger.on span::before {
            display: none;
        }

        .hamburger.on span::after {
            transform: rotate(90deg);
        }
    }

    div.hero {
        margin-top: 70px;
    }

    h1 {
        position: relative;
        left: 0;
        top: 0;
        padding-left: 20px;
        margin: 20px 0;
        font-family: 'Roboto', sans-serif;
        font-size: 3.4rem;
        letter-spacing: 1px;
        color: #3FA9F5;
    }

    h1:before {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        top: -40px;
        width: 70vw;
        height: 30px;
        background-color: #fff;
    }

    @media(orientation: landscape) {

        nav {
            ul {
                height: 40vh;
            }
        }

        h1 {
            width: 80vw;
        }
    }

    @media (min-width: 360px) and (orientation: portrait) {
        h1 {
            width: 85vw;
        }
    }

    @media (min-width: 460px) {
        h1 {
            width: 75vw;
            padding-left: 35px;
            font-size: 4rem;
        }
    }

    @media(min-width: 480px) and (orientation: portrait) {
        nav {
            ul {
                height: 25vh;
            }
        }
    }

    @media (min-width: 854px) and (orientation: landscape) {
        nav {
            ul {
                height: 30vh;

                li {
                    a {
                        font-size: 1.8rem;
                    }
                }

            }
        }

        h1 {
            padding-left: 45px;
            font-size: 4.6rem;
        }
    }

    @media(min-width: 1024px) and (orientation: landscape) {
        section.top-bar {
            display: none;
        }

        nav {
            left: 0;
            width: 20vw;
            transition: none;
        }

        div.hero {
            display: flex;
            justify-content: flex-start;
            margin-left: 20vw;

            img {
                width: 78vw;
            }
        }

        h1 {
            margin-left: 20vw;
        }
    }
}