main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    height: 160vh;

    div {
        display: flex;
        flex-flow: row wrap;
        flex-basis: 75vw;

        h2 {
            margin-bottom: 10px;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 2.2rem;
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-size: 1.4rem;
            line-height: 150%;
            color: #707070;
        }
    }

    @media (orientation: landscape) {
        height: 220vh;

        div {
            flex-basis: 65vw;
        }
    }

    @media (min-width: 360px) and (orientation: portrait) {
        height: 125vh;
    }

    @media (min-width: 640px) and (orientation: landscape) {
        height: 125vh;
        justify-content: space-around;

        div {
            flex-basis: 35vw;
        }
    }

    @media (min-width: 460px) and (orientation:portrait) {
        height: 100vh;

        div {
            h2 {
                font-size: 2.4rem;
            }

            p {
                font-size: 1.6rem;
            }
        }
    }

    @media (min-width: 854px) and (orientation: landscape) {
        height: 110vh;

        div {

            h2 {
                font-size: 2.4rem;
            }

            p {
                font-size: 1.6rem;
            }
        }
    }

    @media(min-width: 1024px) and (orientation: landscape) {
        margin-left: 20vw;
        justify-content: space-around;

        div {
            flex-basis: 30vw;
        }
    }
}